.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--font-gray);
}

.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  font-size: 18px;
  color: var(--font-gray);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  color: var(--font-gray);
  font-size: 16px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: var(--main-border);
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  background-color: var(--font-gray);
  margin: 0px 5px;
}

.open-post__photo {
  position: relative;
  background-color: skyblue;
  opacity: 0.8;
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count i {
  margin-right: 5px;
}
