.nav {
  background-color: #fafafa;
  padding: 20px 30px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__btn {
  width: 20%;
  text-align: center;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__badge {
  position: absolute;
  top: -15px;
  right: -10px;
}

.nav__notification {
  position: absolute;
  top: -15px;
  right: -10px;
}
